.linha{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;

}

h1{
  text-align: center;
  font-family: sans-serif;
}

.App{
  margin: auto;
  max-width: 900px;
  background-color: yellow;
}


